*{
    margin:0px;
    padding:0px;
    
}

body{
    align-items: center;
    display: flex;
    background:linear-gradient(-90deg,rgb(246,108,89,255), rgba(247,159,88,255));
    font-family:Arial, Helvetica, sans-serif;
    color: azure;
    
    
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:300vh;
    border:3px solid rgb(3, 3, 3);
    
}

.form-box{
    align-items: center;
    padding:30px;
    display:flex;
    flex-direction:column;
    background-color:white;
    border-radius:30px;
    width:25%;
    color:black;
    
}

h1{
    padding:24px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}



form input{
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: black;
    
    padding: 10px;
}

form label{
        display:block;
}

button{
    margin-left:100px;
    background:linear-gradient(-90deg,rgb(246,108,89,255), rgba(247,159,88,255));
    color:white;
    width:50%;
    border-color:rgb(0, 0, 0);
    border-radius:15px;
    height:30px;
    
}

.div1{
    display:block
}

.sexo{
    display: flex;
    margin-right:5px;
    padding:1px;
}
